# Data Exploration

In [2]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

## a)

In [4]:
#load data
df=pd.read_csv('../insurance.csv')

display(df.head())
rows, cols = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {cols}")

   id  age     sex     bmi  children smoker     region      charges
0   1   23    male  23.845         0     no  northeast   2395.17155
1   2   60  female  36.005         0     no  northeast  13228.84695
2   3   34  female  31.920         1    yes  northeast  37701.87680
3   4   19  female  28.600         5     no  southwest   4687.79700
4   5   19    male  20.425         0     no  northwest   1625.43375

Number of rows: 1338
Number of columns: 8

In [5]:
df.describe()

                id          age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000  1338.000000   1338.000000
mean    669.500000    39.207025    30.663397     1.094918  13270.422265
std     386.391641    14.049960     6.098187     1.205493  12110.011237
min       1.000000    18.000000    15.960000     0.000000   1121.873900
25%     335.250000    27.000000    26.296250     0.000000   4740.287150
50%     669.500000    39.000000    30.400000     1.000000   9382.033000
75%    1003.750000    51.000000    34.693750     2.000000  16639.912515
max    1338.000000    64.000000    53.130000     5.000000  63770.428010

## b)

## c)

## d)

## e)

## f)

## g)

## h)

## i)

## j)